<div x-mojo-tap-highlight="delayed">
<link rel="stylesheet" type="text/css"href="stylesheets/grid.css"> 
    <table style="padding:1pt;vertical-align:top; width:100%; height:50px">
    <tr>
      <div x-mojo-tap-feedback="delayed">
        <th id="column1" style="background-image:url(#{leftImage})"> <class="leftImg" x-mojo-tap-highlight="delayed">
          <h2 id="mix1"><span id="mix1">#{mixName1}</h2>
          <mixInfo1=#{mixInfo1)>
        </th>
      </div>
      <div x-mojo-tap-feedback="delayed">
        <th id="column2" style="background-image:url(#{rightImage})"> <class="rightImg" x-mojo-tap-highlight="delayed">
          <h2 id="mix2"><span id="mix2">#{mixName2}</h2>
          <mixInfo2=#{mixInfo2)>
        </th>
      </div>
    </tr>
    </table>  
</link>
</div>