<!--loadbar-->
<link rel="stylesheet" text="text/css" href="stylesheets/player.css" />
<div class="controls-container" id="musicControls">
		<div id="playpause" x-mojo-touch-feedback="immediate" class="ctrl-button play #{pause} #{load}"></div>
		<div id="next" x-mojo-touch-feedback="immediate" class="ctrl-button next"></div>
    <!--<div id="likeunlike" x-mojo-touch-feedback="immediate" class="like-button like #{unlike}"></div>-->
</div>
<div x-mojo-element="ProgressBar" id="progressbarId" class="progressbarClass" name="progressbarName"></div>