<!--<body>
<link rel="stylesheet" type="text/css" href="stylesheets/scrim.css">
	<div class="palm-scrim">
	<!--<div id="overlay"><img src="images/bg/overlay.png" /></div>
	<div id="loading" align="center">
		<table border="0" cellspacing="0" cellpadding="0" height="100%">
		    <tr height="100%" valign="center" align="center">
		        <td>
		        	<div id="loading-box" align="center"><img src="images/loading2.gif" /> <span id="loading-message"></span></div>	
		        </td>
		    </tr>
		</table>
	</div>
	</div>
</body>-->
<div class="palm-scrim" id="myScrim">
   <div x-mojo-element="Spinner" id="progressSpinner"></div>
</div>
