<div class="palm-row">
<table style="width:100%; height:100%; align:center;">
  <tr>
    <th>
      <div x-mojo-touch-feedback="delayed">
       <id="tag1" style="font-size:10pt;  border:solid; font-color: black; border-color:white; background-color:  #FFFFFF;  -webkit-border-radius:0pt; padding:2pt; float:center;">
          #{tag1}
      </div>  
    </th>
    <th>
      <div x-mojo-touch-feedback="delayed">
        <id="tag2" style="font-size:10pt; border:solid; font-color: black; border-color:white; background-color: #FFFFFF;  -webkit-border-radius:0pt; padding:2pt; float:center;">
          #{tag2}
     </div>
    </th>
    <th>
      <div x-mojo-touch-feedback="delayed">
        <id="tag3" style="font-size:10pt; font-color: black; border:solid; border-color:white; background-color: #FFFFFF; -webkit-border-radius:0pt; padding:2pt; float:center;">
          #{tag3}
      </div>  
    </th>
  </tr>
</table>
</div>