<body>
	<div x-mojo-touch-highlight="delayed">
		<link rel="stylesheet" type="text/css"href="stylesheets/UserBar.css" />
    	<table style="padding:1pt;vertical-align:top; width:100%; height:72px" class="barcontainer">
    		<tr>
        	<th id="createdcol" x-mojo-touch-feedback="delayed"> 
        		<div x-mojo-touch-feedback="delayed">
        			<img class="created #{showcreated}" id="createdid" src="images/blank.png">
        		</div>
        	</th>
        	<th id="likedcol" x-mojo-touch-feedback="delayed"> 
        		<img class="liked #{showliked}" id="likedid" src="images/blank.png" x-mojo-touch-feedback="delayed">
        	</th>
    		</tr>
    	</table> 
    	<h3 id="likedcount" class="likedready notready"><span>#{likedcount}</span></h3>
    	<h3 id="createdcount" class="createdready notready"><span>#{createdcount}</span></h3>
	</div>
</body>