
<link rel="stylesheet" type="text/css" href="stylesheets/UserInfoSlider.css" />
  <div class="userinfocontainer">
    <table style="padding:1pt;">
    <tr>
      <th id="userinfopiccol"><img src="#{userimage}" class="userimage"></th>
      <th id="userinfodetailscol">
        <dt id="username"> #{name}</dt>
        <dt id="location"><br>#{location}</dt>
        <dt id="description"><br>#{description}</dt>
      </th>
      <!--<th id="userinfofollow"><img src="images/blank.png" class="follow #{unfollow}"></th>-->
    </tr>
    </table>
    <div id="userinfofollow"><img src="images/blank.png" id="userinfoimage" class="follow #{unfollow}"></div>
  </div>  
